<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculadora_Propinas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFB7CD61260AA2B900A08CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB7CD77260AA2BD00A08CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB7CD82260AA2BD00A08CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
